# Introduction to NoSQL databases

This introduction walks through the CRUD (create, read, update, delete) operations on `mongodb`.

## MongoDB

MongoDB is a document-oriented NoSQL database. It stores data in JSON-like documents with dynamic schemas, making the integration of data in certain types of applications easier and faster.

We will be connecting to a MongoDB cluster hosted on MongoDB Atlas. MongoDB Atlas is a cloud database service that allows you to host MongoDB databases on the cloud.

Prerequisite:
The learner is required to set up an account on MongoDB [here](https://www.mongodb.com/) and set up a (free tier) cluster. Please take note of the cluster URL and credentials (DB username and DB password) required to access the cluster. If necessary, you can refer to the screenshots below:

[step 0](../assets/mongodb_setup_step0.png) (When prompted, set up your username and password - note it down!)

[step 1](../assets/mongodb_setup_step1.png) (Create a cluster)

[step 2](../assets/mongodb_setup_step2.png) (Choose **free** cluster and 'Create Deployment')

[step 3](../assets/mongodb_setup_step3.png) (Click 'Drivers' to see how to access using python)

[step 4](../assets/mongodb_setup_step4.png) (Copy and paste the code into a cell below - note you have to input your password as well)

We will be using the `pymongo` library to connect to the MongoDB database. First, we import the library:

In [ ]:
import pymongo

Set up the connection to the cluster (replace \<DB-USERNAME\>, \<DB-PASSWORD\>, \<CLUSTER-NAME\> below with your own):

In [ ]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://jefflyt:nar8wFxQA3wXrP@sctpcluster.nauexlc.mongodb.net/?retryWrites=true&w=majority&appName=SCTPCluster"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

In [ ]:
client = pymongo.MongoClient("mongodb+srv://<DB-USERNAME>:<DB-PASSWORD>@<CLUSTER-NAME>.mongodb.net/test?retryWrites=true&w=majority")

A cluster can host multiple databases. List all databases in the cluster:

In [18]:
client.list_database_names()

['sample_mflix', 'admin', 'local']

### Read

You can access a database using attribute style access:

In [19]:
db = client.sample_mflix

A collection is a group of documents stored in MongoDB, and can be thought of as roughly the equivalent of a table in a relational database.

List all collections in the database:

In [21]:
db.list_collection_names()

['theaters', 'sessions', 'users', 'movies', 'comments', 'embedded_movies']

Let's assign the `movies` collection to a variable:

In [22]:
movies = db.movies

Data in MongoDB is represented (and stored) using JSON-style documents. In PyMongo we use dictionaries to represent documents.

The most basic type of query that can be performed in MongoDB is `find_one()`. This method returns a single document matching a query (or None if there are no matches). You can also omit the query to get the first document from the collection:

In [23]:
movies.find_one()

{'_id': ObjectId('573a1390f29313caabcd42e8'),
 'plot': 'A group of bandits stage a brazen train hold-up, only to find a determined posse hot on their heels.',
 'genres': ['Short', 'Western'],
 'runtime': 11,
 'cast': ['A.C. Abadie',
  "Gilbert M. 'Broncho Billy' Anderson",
  'George Barnes',
  'Justus D. Barnes'],
 'poster': 'https://m.media-amazon.com/images/M/MV5BMTU3NjE5NzYtYTYyNS00MDVmLWIwYjgtMmYwYWIxZDYyNzU2XkEyXkFqcGdeQXVyNzQzNzQxNzI@._V1_SY1000_SX677_AL_.jpg',
 'title': 'The Great Train Robbery',
 'fullplot': "Among the earliest existing films in American cinema - notable as the first film that presented a narrative story to tell - it depicts a group of cowboy outlaws who hold up a train and rob the passengers. They are then pursued by a Sheriff's posse. Several scenes have color included - all hand tinted.",
 'languages': ['English'],
 'released': datetime.datetime(1903, 12, 1, 0, 0),
 'directors': ['Edwin S. Porter'],
 'rated': 'TV-G',
 'awards': {'wins': 1, 'nominations': 0, 'text': '1 win.'},
 'lastupdated': '2015-08-13 00:27:59.177000000',
 'year': 1903,
 'imdb': {'rating': 7.4, 'votes': 9847, 'id': 439},
 'countries': ['USA'],
 'type': 'movie',
 'tomatoes': {'viewer': {'rating': 3.7, 'numReviews': 2559, 'meter': 75},
  'fresh': 6,
  'critic': {'rating': 7.6, 'numReviews': 6, 'meter': 100},
  'rotten': 0,
  'lastUpdated': datetime.datetime(2015, 8, 8, 19, 16, 10)},
 'num_mflix_comments': 0}

> Get the first document from the `comments` collection.

In [24]:
comments = db.comments

comments.find_one()

{'_id': ObjectId('5a9427648b0beebeb69579e7'),
 'name': 'Mercedes Tyler',
 'email': 'mercedes_tyler@fakegmail.com',
 'movie_id': ObjectId('573a1390f29313caabcd4323'),
 'text': 'Eius veritatis vero facilis quaerat fuga temporibus. Praesentium expedita sequi repellat id. Corporis minima enim ex. Provident fugit nisi dignissimos nulla nam ipsum aliquam.',
 'date': datetime.datetime(2002, 8, 18, 4, 56, 7)}

You can pass a query to the `find_one()` method to filter the results to only include documents that match the query criteria. The first argument to the find() method is a document containing the query criteria. To specify an equality match, use a document (dictionary) with the specific field and value:

In [ ]:
movies.find_one({'title': 'Traffic in Souls'})

You can also query by `_id` which is the unique identifier (think of it as a primary key) for each document in a collection. However, it is an `ObjectId` hence you need to convert it from a string:

In [25]:
from bson.objectid import ObjectId

In [ ]:
movies.find_one({'_id': ObjectId('573a1390f29313caabcd4eaf')})

> Get the document with the following `plot`: `"A romantic rivalry among members of a secret society becomes even tenser when one of the men is assigned to carry out an assassination."`

To get more than a single document as the result of a query we use the `find()` method. `find()` returns a Cursor instance, which allows us to iterate over all matching documents.

We can limit the number of results returned using `limit()`:

In [ ]:
for m in movies.find().limit(5):
    print(m)

We can use `query operators` to perform more complex queries. For example, we can use the `$gt` operator to find documents where the `released` date is greater (later) than `2015-12-01`.

For more information on query operators, refer to the [MongoDB documentation](https://www.mongodb.com/docs/manual/reference/operator/query/).

In [ ]:
from datetime import datetime

d = datetime(2015, 12, 1)

for m in movies.find({"released": {"$gt": d}}):
    print(m)

> Return the documents with `released` date between `2015-12-01` and `2015-12-15`.

We can do a regex search using the `$regex` operator. Let's search for all the movies with `"spy"` in the plot.

In [ ]:
for m in movies.find({"plot": {"$regex": "spy"}}):
    print(m)

> Return the documents with the `plot` that starts with `"Once upon a time"`.

You can sort by any field in the document. The default is ascending order, but you can specify descending order by using the `pymongo.DESCENDING` constant.

In [ ]:
for m in movies.find({"plot": {"$regex": "spy"}}).sort('released', pymongo.DESCENDING).limit(10):
    print(f"{m['title']} was released in {m['released']}")

> Return the documents with the `plot` that starts with `"Once upon a time"` in ascending order of released date, print only title, plot and released fields.

### MongoDB Aggregation

MongoDB's `aggregation` pipelines are one of its most powerful features. They allow you to write expressions, broken down into a series of stages, which perform operations including aggregation, transformations, and joins. This allows you to do calculations and analytics across documents and collections.

In [26]:
pipeline = [
   {
      "$match": {
         "title": "A Star Is Born"
      }
   }, 
   {
      "$sort": {
         "year": pymongo.ASCENDING
      }
   },
]
results = movies.aggregate(pipeline)

for movie in results:
   print(" * {title}, {first_castmember}, {year}".format(
         title=movie["title"],
         first_castmember=movie["cast"][0],
         year=movie["year"],
   ))

 * A Star Is Born, Judy Garland, 1954
 * A Star Is Born, Barbra Streisand, 1976

This pipeline above has two stages.
- The first is a  `$match` stage, which is similar to querying a collection with find(). It filters the documents passing through the stage based on the query. Because it's the first stage in the pipeline, its input is all of the documents in the movie collection.
- The second stage is a  `$sort` stage. Only the documents for the movie "A Star Is Born" are passed to this stage, so the result will be all of the movies called "A Star Is Born," now sorted by their year field, with the oldest movie first.

Finally, calls to  `aggregate()` return a cursor pointing to the resulting documents.

You can also use `$lookup` with `aggregate` to query movies and embed the related comments, like a JOIN in a relational database:

In [ ]:
# Look up related documents in the 'comments' collection:
stage_lookup_comments = {
   "$lookup": {
         "from": "comments", 
         "localField": "_id", 
         "foreignField": "movie_id", 
         "as": "related_comments",
   }
}

# Limit to the first 5 documents:
stage_limit_5 = { "$limit": 5 }

pipeline = [
   stage_lookup_comments,
   stage_limit_5,
]

results = movies.aggregate(pipeline)
for movie in results:
   print(movie['title'])
   for comment in movie["related_comments"][:5]:
         print(" * {name}: {text}".format(
            name=comment["name"],
            text=comment["text"]))

The lookup above functions like a left join, some of the movies do not have any comments.

To do something similar to an inner join, add some stages to match only movies which have at least one comment.

In [ ]:
# Calculate the number of comments for each movie:
stage_add_comment_count = {
   "$addFields": {
         "comment_count": {
            "$size": "$related_comments"
         }
   } 
}

# Match movie documents with at least 1 comment:
stage_match_with_comments = {
   "$match": {
         "comment_count": {
            "$gte": 1
         }
   } 
}

In [ ]:
pipeline = [
   stage_lookup_comments,
   stage_add_comment_count,
   stage_match_with_comments,
   stage_limit_5,
]

results = movies.aggregate(pipeline)
for movie in results:
   print(movie["title"])
   print("Comment count:", movie["comment_count"])

   for comment in movie["related_comments"][:5]:
         print(" * {name}: {text}".format(
            name=comment["name"],
            text=comment["text"]))
   print()

> Repeat the above but with movies that have more than 2 comments.

Finally, you can do "group by" operations too. Let's group by the `year` and count the number of movies in each year:

In [ ]:
stage_group_year = {
   "$group": {
         "_id": "$year",
         # Count the number of movies in the group:
         "movie_count": { "$sum": 1 }, 
   }
}

pipeline = [
   stage_group_year,
]
results = movies.aggregate(pipeline)

# Loop through the 'year-summary' documents:
for year_summary in results:
   print(year_summary)

> Sort the above results in chronological order by adding a final `$sort` stage.

## Update

You can update a document in a collection using the `update_one()` method. The first parameter of the `update_one()` method is a query object defining which document to update. The second parameter is an object defining the new values of the document.

Let's change the `title` of the document from `"Traffic in Souls"` to `"Traffic in Souls (1913)"`:

In [ ]:
movies.update_one({'title': 'Traffic in Souls'}, {'$set': {'title': 'Traffic in Souls (1913)'}})

In [ ]:
movies.find_one({'_id': ObjectId('573a1390f29313caabcd4eaf')})

> Update the same document's `lastUpdated` to the current date and time.

For updating multiple documents, you can use the `update_many` method.

## Create

To insert a document into a collection, we can use the `insert_one()` method, and pass in a dictionary.

Likewise, we can use the `insert_many()` method to insert multiple documents into a collection.

In [ ]:
movies.insert_one({'title': 'The Accountant', 'year': 2012})

We could insert the document (dictionary) with "incomplete" fields as above. As a NoSQL database, MongoDB is considered schemaless because it does not require a rigid, pre-defined schema like a relational database.

## Delete

To delete a document, we can use the `delete_one()` or `delete_many()` methods.

In [ ]:
movies.delete_one({'title': 'The Accountant', 'year': 2012})

# Terminate cluster

To terminate your cluster, click the 3 dots next to your cluster name and click 'Terminate' - see this [screenshot](../assets/mongodb_terminate_cluster.png) for example